<div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">MyFlaskApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" style="width:1px; margin:0 auto;">
        <li class="nav-item">
          <a class="nav-link" href="/trades">Trades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="wrapper class="col-md-4"">
      <div id="leftCol">

        <div id="content">
          <button type="button" id="siderbarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec0">Section 0</a></li>
        </ul>
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec1">Section 1</a></li>
        </ul>
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec2">Section 2</a></li>
        </ul>
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec3">Section 3</a></li>
        </ul>
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec4">Section 4</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10" id="mainCol">

      <br>
      <h2 id="sec0">Content</h2>
      <p>3</p>
      <hr class="col-md-12"> Rem
      <hr>
      <h2 id="sec1">Content</h2>
      <p>Rem</p>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Hello.</h3></div>
            <div class="panel-body">Lorem
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Hello.</h3></div>
            <div class="panel-body">Lorem
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h2 id="sec2">Section 2</h2>
      <p>
        ut!
      </p>
      <div class="row">
        <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
      </div>
      <hr>
      <h2 id="sec3">Section 3</h2>
      <hr>
      <h2 id="sec4">Section 4</h2>
      <hr>
    </div>
  </div>
</div>
