{% extends '/includes/_navbar_v2.html' %} {% block content2 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-12">
                    <h6 class="description">OUR TEAM</h6>
                    <div class="row pt-md">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="{{url_for('static', filename='tom_ed.jpg')}}" class="img-responsive">
                            </div>
                            <h1>Ridhima Amruthesh</h1>
                            <h2>Co-founder/ Projects</h2>
                            <p>Crasftman, former treeplanter, slavophile, grad student, NGO'er. I do yoga and drink Kale juice on weekends.</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="{{url_for('static', filename='tom_ed.jpg')}}" class="img-responsive">
                            </div>
                            <h1>Shaurya Chaturvedi</h1>
                            <h2>Co-founder/ Projects</h2>
                            <p>Always up for an adventure... at the library. Just ask!</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="{{url_for('static', filename='tom_ed.jpg')}}" class="img-responsive">
                            </div>
                            <h1>Kiruthika Sankaran</h1>
                            <h2>Co-founder/ Projects</h2>
                            <p>6'5 and easy going... BA in history and literature but proudly employed in construction. Avid coder.</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="{{url_for('static', filename='tom_ed.jpg')}}" class="img-responsive">
                            </div>
                            <h1>Abhinav Tummala</h1>
                            <h2>Co-founder/ Projects</h2>
                            <p>7'1 and easy going. I always say Yes. Just ask!! And adding filler text.</p>
                        </div>
                    </div>
                    <div class="row pt-md">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile" style="margin: auto;">
                            <div class="img-box">
                                <img src="{{url_for('static', filename='jerry.jpeg')}}" class="img-responsive">
                            </div>
                            <h1>Anish Hadkar</h1>
                            <h2>Co-founder/ Projects/ Web Dev</h2>
                            <p>I swear to God I won't work with these idiots again.</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h6>Coded with <i class="fa fa-heart red"></i> by <a href="http://www.nabeel.co.in" target="_blank">Anish Hadkar</a></h6>
        </div>
    </div>
</footer>
{% endblock %}
